body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0b1622;
  color: #e5e7eb;
  font-family: sans-serif;
}

.login-box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-box input {
  text-align: center;
}

.login-box button {
  width: 150px;
  padding: 10px;
}

.login-box button:hover {
  background: #2a81af;
}

.login-box input {
  text-align: left;
}

.error-message {
  color: #ff4d4f;
  margin: 5px;
}

header {
  background: #151f2e;
  padding: 7px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.search-box {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: #a0b1c5;
  pointer-events: none;
}

#search-input {
  margin: 0;
  padding: 12px 450px 12px 46px;
  border-radius: 6px;
  background: #0b1622;
  color: #a0b1c5;
  font-size: 16px;
}

#search-input:focus-visible {
  outline: none;
  border-color: none;
}

.search-results {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 480px;
  background: #151f2e;
  border-radius: 6px;
  z-index: 1000;
  display: none;
  color: #a0b1c5;
}

#search-overlay {
  position: fixed;
  top: 68px; /* hauteur du header */
  left: 0;
  width: 100%;
  height: calc(100% - 68px);
  background: rgba(18,22,28,.7);
  z-index: 500;
  display: none;
}

.search-results {
  padding: 0;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-result-item {
  padding: 18px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.search-result-item span {
  padding: 18px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
}

.search-result-item:hover {
  background: #3db4f2;
  color: #d3d5f3;
}

.search-result-item:hover:first-child {
  border-radius: 6px 6px 0 0;
}

.search-result-item:hover:last-child {
  border-radius: 0 0 6px 6px;
}

.search-result img {
  object-fit: cover;
  border-radius: 4px;
}

.nav-links a {
  padding: 10px 15px;
  border-radius: 4px;
  margin-left: 5px;
  color: #a0b1c5;
  text-decoration: none;
  margin-left: 15px;
}

.nav-links a:hover {
  color: #d3d5f3;
}

header h2 {
    padding-left: 10px;
    margin: 0;
    align-self: center;
}

.container {
  padding: 30px;
}

.container h1 {
  color: #a0b1c5;
}

.container h2 {
  color: #a0b1c5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: #151f2e;
  border-radius: 6px;
  padding: 15px;
}

.card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

input, button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-top: 5px;
}

button {
  background: #3db4f2;
  color: white;
  cursor: pointer;
}

/* Overlay pop-up */
.popup {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(18,22,28,.7);
}

.popup-content {
  background: #151f2e;
  color: #a0b1c5;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  margin: 100px auto;
  position: relative;
}

.popup-content #rating-input {
  background: #0b1622;
  color: #a0b1c5;
  color-scheme: dark;
}

.popup-content #rating-input:focus-visible {
  outline: none;
}

.close {
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
}

.button.red {
  background: #0b1622;
  color: #a0b1c5;
}

.button.red:hover {
  background-color: #e85d75;
  color: white
}

.game-page {
  max-width: 100%;
}

.game-hero {
  display: flex;
  gap: 32px;
  align-items: flex-end;
  margin: 40px 100px 40px 100px;
}

.game-left {
  width: 300px;
  flex-shrink: 0;
}

.game-cover {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

.rate-button {
  width: 100%;
  margin-top: 16px;
  font-size: 16px;
}

.game-right {
  flex: 1;
  margin-bottom: 34px;
  color: #a0b1c5
}

.game-right h1 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
}

.game-storyline {
  font-size: 15px;
  line-height: 1.5;
  opacity: 0.9;
}

.game-infos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.info-block {
  background: #151f2e;
  padding: 20px;
  border-radius: 12px;
  color: #a0b1c5;
}

.info-block h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.info-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-block li {
  padding: 4px 0;
  opacity: 0.9;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 jeux par ligne */
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.game-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #a0b1c5;
  margin-bottom: 20px;
}

.game-card img {
  margin-bottom: 10px;
  width: 70%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.game-card img:hover {
  transform: scale(1.05);
}

.game-title {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

.game-rating {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.85;
}
