body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0b1622;
  color: #e5e7eb;
  font-family: sans-serif;
}

.login-box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-box input {
  text-align: center;
}

.login-box button {
  width: 150px;
  padding: 10px;
}

.login-box button:hover {
  background: #2a81af;
}

.login-box input {
  text-align: left;
}

.error-message {
  color: #ff4d4f;
  margin: 5px;
}

header {
  background: #151f2e;
  padding: 7px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.search-box {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: #a0b1c5;
  pointer-events: none;
}

#search-input {
  margin: 0;
  padding: 12px 450px 12px 46px;
  border-radius: 6px;
  background: #0b1622;
  color: #a0b1c5;
  font-size: 16px;
}

#search-input:focus-visible {
  outline: none;
  border-color: none;
}

.search-results {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 480px;
  background: #151f2e;
  border-radius: 6px;
  z-index: 1000;
  display: none;
  color: #a0b1c5;
}

#search-overlay {
  position: fixed;
  top: 68px; /* hauteur du header */
  left: 0;
  width: 100%;
  height: calc(100% - 68px);
  background: rgba(18,22,28,.7);
  z-index: 500;
  display: none;
}

.search-results div {
  padding: 18px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-results div:hover {
  background: #3db4f2;
  color: #d3d5f3;
}

.search-results div:hover:first-child {
  border-radius: 6px 6px 0 0;
}

.search-results div:hover:last-child {
  border-radius: 0 0 6px 6px;
}

.nav-links a {
  padding: 10px 15px;
  border-radius: 4px;
  margin-left: 5px;
  color: #a0b1c5;
  text-decoration: none;
  margin-left: 15px;
}

.nav-links a:hover {
  color: #d3d5f3;
}

header h2 {
    padding-left: 10px;
    margin: 0;
    align-self: center;
}

.container {
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: #151f2e;
  border-radius: 6px;
  padding: 15px;
}

.card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

input, button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-top: 5px;
}

button {
  background: #3db4f2;
  color: white;
  cursor: pointer;
}

/* Overlay pop-up */
.popup {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.popup-content {
  background: #1c1c1c;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  margin: 100px auto;
  position: relative;
}

.close {
  position: absolute;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
}

.button.red {
  background: #d33;
  color: white;
}

#game-cover {
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
}